<h1>Editing investor support form</h1>

<%= render "form", investor_support_form: @investor_support_form %>

<br>

<div>
  <%= link_to "Show this investor support form", @investor_support_form %> |
  <%= link_to "Back to investor support forms", investor_support_forms_path %>
</div>
