<h1>New investor support form</h1>

<%= render "form", investor_support_form: @investor_support_form %>

<br>

<div>
  <%= link_to "Back to investor support forms", investor_support_forms_path %>
</div>
