<h1>Editing ben user update form</h1>

<%= render "form", ben_user_update_form: @ben_user_update_form %>

<br>

<div>
  <%= link_to "Show this ben user update form", @ben_user_update_form %> |
  <%= link_to "Back to ben user update forms", ben_user_update_forms_path %>
</div>
