<h1>Editing ben overall project finance form</h1>

<%= render "form", ben_overall_project_finance_form: @ben_overall_project_finance_form %>

<br>

<div>
  <%= link_to "Show this ben overall project finance form", @ben_overall_project_finance_form %> |
  <%= link_to "Back to ben overall project finance forms", ben_overall_project_finance_forms_path %>
</div>
