// Specific CSS for your home-page
.directions {
  margin: 20px;
  width: 600px;
  align-content: center;
}

.row {
  padding: 20px;
}

.button {
  width: fit-content;
  background-color: aqua;
}

.entity {
  width: 800px;
  height: fit-content;
}
