<h1>Editing ben update form</h1>

<%= render "form", ben_update_form: @ben_update_form %>

<br>

<div>
  <%= link_to "Show this ben update form", @ben_update_form %> |
  <%= link_to "Back to ben update forms", ben_update_forms_path %>
</div>
