<h1>Editing resignationality form</h1>

<%= render "form", resignationality_form: @resignationality_form %>

<br>

<div>
  <%= link_to "Show this resignationality form", @resignationality_form %> |
  <%= link_to "Back to resignationality forms", resignationality_forms_path %>
</div>
