<div id="<%= dom_id ben_management_update_form %>">
  <p>
    <strong>Update title:</strong>
    <%= ben_management_update_form.update_title %>
  </p>

  <p>
    <strong>Projects involved:</strong>
    <%= ben_management_update_form.projects_involved %>
  </p>

  <p>
    <strong>Update description:</strong>
    <%= ben_management_update_form.update_description %>
  </p>

</div>
