<h1>Editing ben management update form</h1>

<%= render "form", ben_management_update_form: @ben_management_update_form %>

<br>

<div>
  <%= link_to "Show this ben management update form", @ben_management_update_form %> |
  <%= link_to "Back to ben management update forms", ben_management_update_forms_path %>
</div>
