<h1>New ben management update form</h1>

<%= render "form", ben_management_update_form: @ben_management_update_form %>

<br>

<div>
  <%= link_to "Back to ben management update forms", ben_management_update_forms_path %>
</div>
