<h1>Editing ben available frontstage form</h1>

<%= render "form", ben_available_frontstage_form: @ben_available_frontstage_form %>

<br>

<div>
  <%= link_to "Show this ben available frontstage form", @ben_available_frontstage_form %> |
  <%= link_to "Back to ben available frontstage forms", ben_available_frontstage_forms_path %>
</div>
