<h1>Editing investor sponsor form</h1>

<%= render "form", investor_sponsor_form: @investor_sponsor_form %>

<br>

<div>
  <%= link_to "Show this investor sponsor form", @investor_sponsor_form %> |
  <%= link_to "Back to investor sponsor forms", investor_sponsor_forms_path %>
</div>
