<h1>Editing ben investor update form</h1>

<%= render "form", ben_investor_update_form: @ben_investor_update_form %>

<br>

<div>
  <%= link_to "Show this ben investor update form", @ben_investor_update_form %> |
  <%= link_to "Back to ben investor update forms", ben_investor_update_forms_path %>
</div>
