<h1>New ben available backstage form</h1>

<%= render "form", ben_available_backstage_form: @ben_available_backstage_form %>

<br>

<div>
  <%= link_to "Back to ben available backstage forms", ben_available_backstage_forms_path %>
</div>
