<div id="<%= dom_id ben_selection_form %>">
  <p>
    <strong>Role involved:</strong>
    <%= ben_selection_form.role_involved %>
  </p>

  <p>
    <strong>Project involved:</strong>
    <%= ben_selection_form.project_involved %>
  </p>

  <p>
    <strong>Applicant selection:</strong>
    <%= ben_selection_form.applicant_selection %>
  </p>

</div>
