<h1>Editing ben selection form</h1>

<%= render "form", ben_selection_form: @ben_selection_form %>

<br>

<div>
  <%= link_to "Show this ben selection form", @ben_selection_form %> |
  <%= link_to "Back to ben selection forms", ben_selection_forms_path %>
</div>
